asgiref
authentication
bcrypt
blinker
certifi
cffi
charset-normalizer
click
colorama
cryptography
Django
djangorestframework
djangorestframework-jwt
Flask
idna
itsdangerous
Jinja2
MarkupSafe
paramiko
passlib
phonenumbers
psycopg2
pycparser
pycryptodome
PyJWT
PyNaCl
pytz
redis
requests
sqlparse
sshtunnel
tzdata
urllib3
Werkzeug
WTForms
